/S4_programmation.aux
/S4_programmation.log
/S4_programmation.tex
/S4_programmation.toc
/S5_graphiques.aux
/S5_graphiques.log
/S5_graphiques.tex
/S5_graphiques.toc
/chunks_test.R
/IntroductionToR2012.aux
/IntroductionToR2012.log
/IntroductionToR2012.out
/IntroductionToR2012.tex
/IntroductionToR2012.toc
/IntroductionToR2012-021.pdf
/IntroductionToR2012-022.pdf
/IntroductionToR2012-023.pdf
/IntroductionToR2012-024.pdf
/S5_graphiques-001.pdf
/S5_graphiques-002.pdf
/IntroductionToR2012-025.pdf
/IntroductionToR2012-026.pdf
